# Virtual environments
.venv*
venv/

# Dependency directories
node_modules/
**/node_modules/

# Build and dist files
dist/
**/dist/
build/
**/build/
target/
**/target/
build_log.txt
.DS_Store

# Python cache
*.pyc
__pycache__/
**/__pycache__/

# Environment configurations (credentials!)
.env
.env.*
*.env
**/.env
**/*.env

# Databases & Caches
*.db
*.db-*
**/*.db
**/*.db-*
backend/radiolite.db
backend/.cache/
